
[common]
base_url = "https://api.local.test"

[log]
#level = "info"
level = "debug"
#level = "trace"
# If not defined logger outputs to the console (useful when testing/developing)
#file_path = "oauth2-resource-server-demo.log"
#file_path = "/tmp/oauth2-resource-server-demo.log"

[server]
#ip = "127.0.0.1"
#ip = "0.0.0.0"
#port = 9003

[oidc]
issuer_url = 'https://connect.local.test/'
client_id = 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
client_secret = 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
allowed_client_ids = [
  'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx',
  'yyyyyyyy-yyyy-yyyy-yyyy-yyyyyyyyyyyy'
]


# vim: ai:ts=2:sw=2:ft=conf
# vim: set expandtab:
